body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #333;
    font-weight: normal;
    font-family: "微软雅黑","Microsoft Yahei";
    box-sizing: border-box;
}
body {
    background-color: #f3f3f3;
}
// @mixin prefixer($property, $value, $prefixes: webkit moz) {
//     #{$property}: $value;
  
//     @each $prefix in $prefixes {
//       @if $prefix == webkit {
//         -webkit-#{$property}:#{$value};
//       }
//       @else if $prefix == moz {
//         -moz-#{$property}:#{$value};
//       }
//       @else if $prefix == o {
//         -o-#{$property}:#{$value};
//       }
//       @else if $prefix == ms {
//         -ms-#{$property}:#{$value};
//       }
//     }
//   }